header a{
    text-decoration: none;
    text-transform: none;
    color: black;
}

header ul{
    list-style: none;
}

header a:hover(){
    color: black;
}

.competences ul{
    list-style: none;
}

.list li{
    margin-top: 15px;
    margin-left: 50px;
}

.Home{
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

.Work{
    font-size: 25px;
    font-weight: bold;
    margin-left: 75px;
}

.About{
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}

.Contact{
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}

.fleche{
    margin-left: 150px;
    display: flex;
    font-size: 50px;
    color: orange;
    margin-top: 15px;

}

.test{
    background-color: #2c2b2b;
    border-radius: 15px;
    color: white;
    height: 200px;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
}

.intro{
    justify-content: center;
    display: flex;
    padding-top: 30px;
    font-size: large;
}

.soustitre{
    justify-content: center;
    display: flex;
    font-size: large;
    color: rgba(255, 255, 255, 0.849);
}

.Serenseigner{

}
.fleche2{
    font-size: 20px;
    margin-left: 15px;
}